<ion-content padding>
  <div text-center style="margin-top:30px;">
      <img src="/assets/home/images/icons.png" alt="" style="height: 200px;">
  </div>

    <form [formGroup]="loginForm"  (ngSubmit)="onFormSubmit()">

    <ion-item class="marginTop">
      <ion-input type="text" name="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email harus diisi!</div>
        <div *ngIf="f.email.errors.email">Format email harus valid!</div>
    </div>
  <ion-item class="marginTop">
    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password harus diisi!</div>
  </div>
  <div text-center style="margin-top:30px">
    <ion-button expand="block" color="success" type="submit">Sign In</ion-button>
  </div>
  </form>
  <ion-toolbar style="margin-top:40px;" color="white" text-center>
      <div style="font-size: 16px; font-weight: bold;" ><a (click)="register()" color="primary" >Sign Up</a></div>
  </ion-toolbar>
</ion-content>