<ion-content padding>
   <form [formGroup]="registerForm"  (ngSubmit)="onFormSubmit()">
    <ion-item class="marginTop">
      <ion-input type="text" formControlName="namaDepan" placeholder="Nama Depan"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.namaDepan.errors" class="invalid-feedback">
        <div *ngIf="f.namaDepan.errors.required">Nama Depan harus diisi!</div>
    </div>
    <ion-item class="marginTop">
      <ion-input type="text" formControlName="namaBelakang" placeholder="Nama Belakang"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.namaBelakang.errors" class="invalid-feedback">
        <div *ngIf="f.namaBelakang.errors.required">Nama Belakang harus diisi!</div>
    </div>
    <ion-item class="marginTop">
        <ion-input type="number" formControlName="noHp" placeholder="No Hp"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.noHp.errors" class="invalid-feedback">
        <div *ngIf="f.noHp.errors.required">No Hp harus diisi!</div>
    </div>
    <ion-item class="marginTop">
      <ion-label>Jenis Kelamin</ion-label>
      <ion-select placeholder="Jenis Kelamin" formControlName="jenisKelamin">
        <ion-select-option value="0">Perempuan</ion-select-option>
        <ion-select-option value="1">Laki-laki</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="submitted && f.jenisKelamin.errors" class="invalid-feedback">
      <div *ngIf="f.jenisKelamin.errors.required">Harus memilih jenis kelamin!</div>
    </div>
    <ion-item class="marginTop">
      <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email harus diisi!</div>
        <div *ngIf="f.email.errors.email">Format email harus valid!</div>
    </div>
    <ion-item class="marginTop">
        <ion-input type="text" formControlName="alamat" placeholder="Alamat"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.alamat.errors" class="invalid-feedback">
        <div *ngIf="f.alamat.errors.required">Alamat harus diisi!</div>
    </div>
    <ion-item class="marginTop">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password harus diisi!!</div>
    </div>
    <div text-center style="margin-top:30px">
      <ion-button expand="block" color="success" type="submit">Create Account</ion-button>
    </div>
  </form>
    <ion-toolbar style="margin-top:30px;" color="white" text-center>
      <div style="font-size: 16px; font-weight: bold;"><a (click)="login()" color="primary">Sign In</a></div>
    </ion-toolbar>
  </ion-content>