<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="margin-left: auto;">
      PANTAU LINGKUNGAN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="laporanForm"  (ngSubmit)="onFormSubmit(laporanForm.value)">

    <mat-card class="result">
        <mat-card-content>
       <mat-form-field class="full-width">
        <mat-label>Judul</mat-label>
        <input matInput placeholder="Masukan Judul" formControlName="judul">
            <mat-error *ngIf="f.judul.invalid">
              Judul harus diisi!
            </mat-error>

      </mat-form-field>

      <mat-form-field class="full-width">
      <mat-label>Sektor</mat-label>
      <mat-select  formControlName="sektor">
        <mat-option value="1">Polusi Udara</mat-option>
        <mat-option value="2">Perhutanan Hilang</mat-option>
        <mat-option value="3">Polusi Air</mat-option>
        <mat-option value="4">Pertambangan</mat-option>
        <mat-option value="5">Satwa dan Tumbuhan liar</mat-option>
      </mat-select>
          <mat-error *ngIf="f.sektor.invalid">Anda harus memilih sektor!</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Nama Perusahaan</mat-label>
        <input matInput placeholder="Nama Perusahaan" formControlName="namaPerusahaan">
      </mat-form-field>
      <mat-form-field class="full-width">
          <mat-label>Desa/Kelurahan</mat-label>
          <input matInput placeholder="Desa/Kelurahan" formControlName="desaKelurahan">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Kecamatan</mat-label>
            <input matInput placeholder="Kecamatan" formControlName="kecamatan">
          </mat-form-field>
          <mat-form-field class="full-width">
              <mat-label>Kota/Kabupaten</mat-label>
              <input matInput placeholder="Kota/Kabupaten" formControlName="kotaKabupaten">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Provinsi</mat-label>
                <input matInput placeholder="Provinsi" formControlName="provinsi">
              </mat-form-field>
      <mat-form-field class="full-width">
          <mat-label>Deskripsi Laporan</mat-label>
          <textarea matInput 
          cdkTextareaAutosize
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="5"
          #autosize="cdkTextareaAutosize"
          placeholder="Deskripsi Laporan"
          formControlName="deskripsiLaporan">
        </textarea>
            <mat-error *ngIf="f.deskripsiLaporan.invalid">Anda harus mengisi deskripsi Laporan</mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <br>    
    <mat-card class="result">
        <h5 class="example-h2">FOTO</h5>
        <mat-card-content>
            <ion-button (click)=takeSnap() color="success">
                <ion-icon slot="start" name="camera"></ion-icon>
                Ambil Foto
              </ion-button>
             
              <img [src]="capturedSnapURL" />
    
          </mat-card-content>
        </mat-card>
    <br>
        <mat-card class="result">
            <h5 class="example-h2">LOKASI</h5>
            <mat-card-content>
                <ion-button (click)=checkGPSPermission() color="success">
                    <ion-icon slot="start" name="locate"></ion-icon>
                    GET LOCATION
                  </ion-button>
                  <br>
                  <mat-form-field class="full-width" style="margin-top:10px;">
                      <mat-label>Latitude</mat-label>
                      <input matInput placeholder="Latitude" value="{{latitude}}" readonly>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Longitude</mat-label>
                        <input matInput placeholder="Longitude" value="{{longitude}}" readonly>
                      </mat-form-field>
                      <mat-form-field class="full-width">
                          <mat-label>Altitude</mat-label>
                          <input matInput placeholder="Altitude" value="{{altitude}}" readonly>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <mat-label>Accuracy</mat-label>
                            <input matInput placeholder="Accuracy" value="{{accuracy}}" readonly>
                          </mat-form-field>
              </mat-card-content>
            </mat-card>
            <br>
            <div text-center>
                <button type="submit" mat-raised-button	color="primary" style="width: 80%;">Go to next step</button>

            </div>
          </form>


 <!--    <ion-grid>
        <ion-row>
          <ion-col> -->
             <!-- 1 Pantau Sampah -->
          <!--   <ion-card class="welcome-card" color="success" routerLink="/pantau-sampah" routerDirection="forward">
              <img src="../assets/home/images/1.jpeg" alt="" style="height:50px; border-radius: 50%; 
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
                width: 30%;"/>     
                <ion-card-header>
              <ion-card-title text-center style="font-size: 15px;"><b>Pantau Sampah</b></ion-card-title>
            </ion-card-header>
          </ion-card>
          </ion-col>
          <ion-col> -->
            <!-- 2 Pantau Sungai -->
         <!--  <ion-card class="welcome-card" color="success" routerLink="/pantau-sungai" routerDirection="forward">
            <div><img src="../assets/home/images/2.jpeg" alt="" style="height:50px; border-radius: 50%; 
              margin-left: auto;
              margin-right: auto;
              margin-top: 10px;
              width: 30%;"/></div>     
              <ion-card-header>
            <ion-card-title text-center style="font-size: 15px;"><b>Pantau Sungai</b></ion-card-title>
          </ion-card-header>
        </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> -->
             <!-- 3 Pantau Hutan -->
      <!--   <ion-card class="welcome-card" color="success" routerLink="/pantau-hutan" routerDirection="forward">
            <div><img src="../assets/home/images/3.jpeg" alt="" style="height:50px; border-radius: 50%; 
              margin-left: auto;
              margin-right: auto;
              margin-top: 10px;
              width: 30%;"/></div>       
              <ion-card-header>
              <ion-card-title text-center style="font-size: 15px;"><b>Pantau Hutan</b></ion-card-title>
            </ion-card-header>
          </ion-card>
          </ion-col>
          <ion-col> -->
      <!--4 Pantau Investasi-->

    <!--  <ion-card class="welcome-card" color="success" routerLink="/pantau-investasi" routerDirection="forward">
        <img src="../assets/home/images/4.jpeg" alt="" style="height:50px; border-radius: 50%; 
          margin-left: auto;
          margin-right: auto;
          margin-top: 10px;
          width: 30%;"/>   
             <ion-card-header>
          <ion-card-title text-center style="font-size: 15px;"><b>Investasi</b></ion-card-title>
        </ion-card-header>
      </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col> -->
            <!-- 5 Pantau Sampah Plastik-->

     <!-- <ion-card class="welcome-card" color="success" routerLink="/pantau-sampah-plastik" routerDirection="forward">
        <div><img src="../assets/home/images/5.jpeg" alt="" style="height:50px; border-radius: 50%; 
          margin-left: auto;
          margin-right: auto;
          margin-top: 10px;
          width: 30%;"/></div>
        <ion-card-header>
          <ion-card-title text-center style="font-size: 15px;"><b>Sampah Plastik</b></ion-card-title>
        </ion-card-header>
      </ion-card>
          </ion-col>
          <ion-col>

          </ion-col>
        </ion-row>
</ion-grid>     -->  
 

    
   

   

    
      
   <!--  <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->
</ion-content>
