/* .welcome-card img {
  max-height: 35vh;
  overflow: hidden;
} */
#logo{
  color:white;
  font-weight: bold;
  font-family: Righteous;   
}
.full-width {
  width: 100%;
  margin-top:10px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
}

.example-margin {
  margin: 0 5px;
}