<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
   <form [formGroup]="registerForm"  (ngSubmit)="onFormSubmit(registerForm.value)">
    <ion-item class="marginTop">
      <ion-input type="text" formControlName="firstname" placeholder="Nama Depan"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
        <div *ngIf="f.firstname.errors.required">Nama Depan harus diisi!</div>
    </div>
    <ion-item class="marginTop">
      <ion-input type="text" formControlName="lastname" placeholder="Nama Belakang"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
        <div *ngIf="f.lastname.errors.required">Nama Belakang harus diisi!</div>
    </div>
    <ion-item class="marginTop">
        <ion-input type="number" formControlName="phone_number" placeholder="No Hp"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
        <div *ngIf="f.phone_number.errors.required">No Hp harus diisi!</div>
    </div>
    <ion-item class="marginTop">
      <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email harus diisi!</div>
        <div *ngIf="f.email.errors.email">Format email harus valid!</div>
    </div>
    <ion-item class="marginTop">
        <ion-input type="text" formControlName="alamat" placeholder="Alamat"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.alamat.errors" class="invalid-feedback">
        <div *ngIf="f.alamat.errors.required">Alamat harus diisi!</div>
    </div>
    <ion-item class="marginTop">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password harus diisi!!</div>
    </div>
    <div text-center style="margin-top:30px">
      <ion-button expand="block" color="tertiary" type="submit">Create Account</ion-button>
    </div>
  </form>
    <ion-toolbar style="margin-top:30px;" color="white" text-center>
      <div style="font-size: 16px; font-weight: bold;"><a (click)="login()" color="primary">Sign In</a></div>
    </ion-toolbar>
  </ion-content>